//COLORS
$color-primary-vdMagenta: hsl(300, 43%, 22%);
$color-primary-softPink: hsl(333, 80%, 67%);

$color-neutral-dgMagenta: hsl(303, 10%, 53%);
$color-neutral-lgMagenta: hsl(300, 24%, 96%);
$color-neutral-white: hsl(0, 0%, 100%);

//FONT
$font-default: 1.5rem;
